{% extends 'todo/base.html' %}



{% block content %}

{% if error %}
<style >
  body
  {
    background-color:#e8827b;
  }
  #bt
  {
    font-size:30px;
    font-family: 'Balsamiq Sans', cursive;
    color: black;
  }
</style>





  <div class="text-center">
    <h1 id = 'er'> {{ error }} <br> Don't worry lets get started straight away ! </h1>
    <a href="{% url 'createtodo' %}"><button type="button" class="btn btn-primary btn-lg btn-block"><h5 id = 'bt'> Click here and create a New todo.. </h5></button></a>
  </div>


{% else %}
<style >
  body
  {
    background-color:#e8827b;
  }

</style>
<div id = 'kk' class="container">
  <div class="text-center">
    <h1 id = "list">These are the list of the Current Todos , <br>that require your attention !</h1>
  </div>
</div>


{% for todo in todos %}
<div class="list-group">
  <ul class="list-group">
    <div class="text-center">
      {% if todo.important %}
        <li  class="list-group-item list-group-item-danger"><a href="{% url 'viewtodo' todo.id %}"><h5 style="font-size:30px"> {{ todo.title }} </h5></a><br>
          {% if todo.memo %}<p class="mb-1"> {{ todo.memo }} </p>{% endif %}
        </li>
      {% else %}
        <li class="list-group-item list-group-item-primary"><a href="{% url 'viewtodo' todo.id %}"><h5 style="font-size:30px"> {{ todo.title }} </h5></a><br>
          {% if todo.memo %}<p class="mb-1"> {{ todo.memo }} </p>{% endif %}
        </li>
      {% endif %}
    </div>
    </ul>

</div>

{% empty %}

<p>kuch nahi hai</p>

{% endfor %}

{% endif %}






{% endblock %}
