{% extends "todo/base.html" %}

{% block content %}
<style >
  /* body
  {
    /* background-color:#e8827b; */
  /* } */
  #bt
  {
    font-size:30px;
    font-family: 'Balsamiq Sans', cursive;
    color: black;
  }
</style>

    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if todos %}
                 <h1 id="bt">{{ todos.count }} Current Todo{{ todos.count|pluralize }}</h1>
            {% else %}
                           <h1 id="bt">Current Todos</h1>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
        {% if todos %}
            <div class="list-group">
                {% for todo in todos %}
                    <a href="{% url 'viewtodo' todo.id %}" class="list-group-item list-group-item-action{% if todo.important %} list-group-item-danger{% endif %}"><b>{{ todo.title }}</b>{% if todo.memo %} - {{ todo.memo|truncatechars:30 }}{% endif %}</a>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <h2 id="bt">Looks like you don't have any todos! Nice work.</h2>
            <br>
            <a role="button" class="btn btn-primary" href="{% url 'createtodo' %}">New Todo</a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
